---
const today = new Date();
const startYear = 2007;
---
Welcome to my <a href="https://xkcd.com/181">blog</a>.

I've been developing software professionally for { today.getFullYear() - startYear } years, and I've found it rewarding to share some of what I'm learning.
If you find it helpful as well, I'd love to hear from you.

My interests include Software Quality, Refactoring, Testing, AI Skepticism, and Formal Methods.

You can also find me on <a href="https://www.youtube.com/@craftvscruft8060/videos">Craft vs Cruft</a> and the <a href="https://empathyintech.com">Empathy in Tech</a> podcast.

Cheers!
