---
const today = new Date();
const startYear = 2007;
---

Welcome to my page.

<p>
  I've been developing software professionally for {
    today.getFullYear() - startYear
  } years, and this is where I share what I'm learning.
</p>

<p>
  My interests include Software Quality, Refactoring, AI Skepticism,
  and Formal Methods.
</p>

<p>
  You can find me on <a
    href="https://www.youtube.com/@craftvscruft8060/videos">Craft vs Cruft</a
  > and the podcasts <a href="https://empathyintech.com">Empathy in Tech</a> and <a href="https://podcasts.apple.com/us/podcast/trek-virgin/id1842627522">Trek Virgin</a>. Cheers!
</p>
