---
import HeaderLink from "./HeaderLink.astro";
import { Image } from "astro:assets";
import { title as SITE_TITLE, subtitle as SITE_DESCRIPTION } from "../settings/settings.json";
import rayImage from "../../public/ray-gs.jpeg";
---

<header>
  <div class="header-section">
    <div class="img-frame">
      <Image src={rayImage} alt="My photo" />
    </div>
    <div class="header-frame">
      <h1>{SITE_TITLE}</h1>
      <h2>{SITE_DESCRIPTION}</h2>
    </div>
  </div>
</header>
<nav>
  <HeaderLink href="/">home</HeaderLink>
  <HeaderLink href="/posts">blog</HeaderLink>
  <HeaderLink href="/talks">talks</HeaderLink>
  <HeaderLink href="/socials">socials</HeaderLink>
  <!-- <HeaderLink href="/newsletter">etc</HeaderLink> -->
</nav>
<style>
  .header-section {
    justify-content: flex-start;
    gap: 1.25rem;
  }
  .img-frame {
    width: 100px;
    height: 100px;
    flex-shrink: 0;
  }
  .header-frame {
    max-width: none;
  }
  h1 {
    margin: 0;
  }
  h2 {
    margin: 0.25em 0 0 0;
    font-size: 0.9em;
  }
  nav {
    text-align: left;
  }
</style>
