---
import HeaderLink from "./HeaderLink.astro";
import { Image } from "astro:assets";
import { SITE_TITLE, SITE_DESCRIPTION } from "../config";
import rayImage from "../../public/ray-gs.jpeg";
---

<header>
  <div class="header-section">
    <div class="header-frame">
      <h1>{SITE_TITLE}</h1>
      <h2>{SITE_DESCRIPTION}</h2>
    </div>
    <div class="img-frame">
      <Image src={rayImage} alt="My photo" />
    </div>
  </div>
</header>
<nav>
  <HeaderLink href="/">home</HeaderLink>
  <HeaderLink href="/posts">blog</HeaderLink>
  <HeaderLink href="/talks">talks</HeaderLink>
  <HeaderLink href="/socials">socials</HeaderLink>
  <!-- <HeaderLink href="/newsletter">etc</HeaderLink> -->
</nav>
<style>
  h2 {
    margin: 0.5em 0;
  }
</style>
