---
const { tags, all } = Astro.props;
---

<div class:list={[all && "tags"]}>
  {all && <span class="tags-label">Read more:</span>}
  {
    tags &&
      tags.map((tag) => (
        <>
          <a class="tag" href={`/tag/${tag}`}>
            #{tag}
          </a>
          {` `}
        </>
      ))
  }
</div>
